<div class="container main">
    <div class="row" style="width:100%">
        <div class="col-md-12">
            <div class="row">
                <!-- Main Headings and Startup -->
                <div class="col-md-6" style="height:500px">
                    <div class="div1">
                        <p>Manage Oracle Cloud with a magic wand</p>
                    </div>
                    <div class="div1" style="font-size: 18px;line-height: 28px;width: 458px;margin-top: 30px;">
                        <p>One stop web tool to connect with your Oracle Cloud. The most intuitive way to access your cloud data with advance custom API’s.</p>
                    </div>
                    <!-- Button Get Started -->
                    <md-button class="md-raised signUp" style="background-color: #E21F28; width: 175px;height: 53px;color: #ffffff;
                    font-size: 16px;font-weight: 400;margin-left: 145px;margin-top: 100px;">Get started</md-button>
                    <p style=" color: #E21F28;font-size: 16px;font-weight: 600;
                    text-align: left;margin-left: 380px;margin-top: -45px;">
                        <span class="glyphicon glyphicon-play"></span>Watch the Video</p>
                </div>
                <!-- Main Image -->
                <div class="col-md-6">
                    <img src="images/main.jpg" style="position: relative;height:550px;width: 750px;">
                </div>
            </div>
            <!-- Descriptive Content -->
            <div class="row">
                <div class="col-md-12 div2">
                    <h2>How to unveil your superpowers</h2>
                    <div class="row">
                        <div class="col-md-2" style="height:300px;margin: 10px;margin-left:300px;">
                            <img class="assets" src="images/noun_Connect .png" />
                            <p class="desc">Direct Eloqua Connect</p>
                            <p class="description">
                                You will be able to access all the basic features without signing up with Eloquest, Give it a try.</p>
                        </div>

                        <div class="col-md-2" style="height:300px;margin: 10px;">
                            <img class="assets" src="images/noun_coding.png" />
                            <p class="desc">Browse API Library</p>
                            <p class="description">The Library contains all the basic API’s to Interact with your Oracle Cloud for free.</p>
                        </div>

                        <div class="col-md-2" style="height:300px;margin: 10px;">
                            <img class="assets" src="images/noun_premium.png" />
                            <p class="desc">Free Premium API’s</p>
                            <p class="description">We have developed some advance Cloud API’s to Help you manage your needs. </p>
                        </div>

                        <div class="col-md-2" style="height:300px;margin: 10px;">
                            <img class="assets" src="images/noun_hello.png" />
                            <p class="desc">Reach Out</p>
                            <p class="description">If you want to get 100% access to Our Premium API’s don’t hesitate to reach out to Us.
                            </p>
                        </div>
                    </div>

                    <md-button class="md-raised login" aria-label="Profile" style="  color: #ffffff; background-color: #E21F28;">Login With Eloqua</md-button>
                </div>
            </div>
        </div>
    </div>
</div>