<div class="container main">
    <div class="row" style="padding:0;margin: 0;">

        <!-- Side Navigation Api Library -->
        <div class="col-md-3" style="margin:0;">
            <div>
                <h1 class="api-library">API LIBRARY</h1>
                <p id="howToStart" ng-click="getStartedpage()" class="how-to-use  remove_outline" style="margin-left: 40px;">How to use Eloquest Tool</p>
                <div class="items">
                    <input type="checkbox" id="A" />
                    <img src="images/arrow.png" class="arrow">
                    <label class="how-to-use remove_outline" for="A" ng-click="getEloquaDropDown()">Eloqua Api's</label>
                    <ul>
                        <li ng-repeat="data in Eloqua_api">
                            <div class="sub-items">
                                <input ng-checked="{{data.id}}== id" ng-init="model=$eval(data.text)" type="checkbox" id="{{data.name}}" value="{{data.id}}" />
                                <img src="images/arrow.png" class="arrow">
                                <label ng-init="model=$eval(data.text)" class="how-to-use remove_outline" for="{{data.name}}" ng-click="getAccountsDropDown(data.id)">{{data.name}}</label>
                                <ul id="content" ng-if="Eloqua_api!=null">
                                    <li ng-repeat="Acc in Accounts_api">
                                        <div class="sub-items">
                                            <input ng-checked="{{Acc.Id}}== Id" ng-init="model=$eval(data.text)" type="checkbox" id="{{Acc.Name}}" />
                                            <img src="images/arrow.png" class="arrow">
                                            <label ng-init="model=$eval(data.text)" class="how-to-use remove_outline" for="{{Acc.Name}}" ng-click="CreateAnAccount(Acc.Id)">
                                            {{Acc.Name}}</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Main Part With The API form -->
        <div id="main" class="col-md-9 adjust" style="display:none">
            <!-- Header of Form -->
            <div style=" background-color: #F9F9F9;height: 194px;float: left; width: 100%;">
                <div class="row">
                    <div class="col-md-6">
                        <p class="heading1">{{Create_head[0].ApiHeader1}}</p>
                    </div>
                    <div class="col-md-6">
                        <p class="eloqua-link" style="float:right;">Eloqua Link </p>
                    </div>
                </div>

                <div class="row">
                    <p class="create-account-para" style="color: #2F281E;">{{Create_head[0].ApiHeader2}}</p>
                </div>

                <p id="Apiform" class="slider remove_outline" ng-click="Apidiv_function()">{{Create_head[0].Tab1}}</p>
                <p id="Query_Ui" class="slider remove_outline" ng-click="Query_function()" style="margin-left: 130px;
                margin-top: -50px;">{{Create_head[0].Tab2}}</p>
            </div>
            <!-- Form Input Boxes -->
            <div style="float: left; width: 100%;" id="Api_div">
                <div class="row " style="margin-bottom: 100px; padding:50px">
                    <div class="col-md-6" style="margin-bottom: 50px;" ng-repeat="data in Create_api|limitTo:2">
                        <div>
                            <label class="label">{{data.Name}}</label><br>
                            <input ng-model="account.user[$index]" type="text" ng-init="model=$eval(data.text)" placeholder="{{data.Name}}" class="input-box" />
                            <p>{{user}}</p>
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-bottom: 50px;" ng-repeat="data in Create_api|limitTo:1:2">
                        <label class="label">{{data.Name}}</label><br>
                        <input ng-model="account.desc[$index]" type="text" style="width:90%;" ng-init="model=$eval(data.text)" placeholder="{{data.Name}}" class="input-box" />
                    </div>
                    <div class="col-md-6" style="margin-bottom: 50px;" ng-repeat="data in Create_api|limitTo:8:3">
                        <div>
                            <label class="label">{{data.Name}}</label><br>
                            <input ng-model="account.details[$index]" type="text" ng-init="model=$eval(data.text)" placeholder="{{data.Name}}" class="input-box" />
                        </div>
                    </div>

                    <!-- Form Buttons -->
                    <div class="row div_1" style="margin-bottom: 100px;padding-left: 400px;">
                        <div class="col-md-2" ng-repeat="data in Create_api|limitTo:14:12">
                            <md-button ng-click="getFormData(account)" class="md-raised save_btn" style="color:#ffffff;background-color: #E21F28;">{{data.Name}}</md-button>
                        </div>

                    </div>
                </div>
            </div>
            <div style="float:left; width: 100%;display: none;padding: 80px;" id="Query">
                <!-- The Query Api Part (Swap Div) -->
                <div class="row">
                    <div class="col-md-12">
                        <label class="label">Request Body</label><br>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <textarea style="width: 935px;height:178px; margin-left: 20px;" placeholder=' {
                            "title": "Sample Konfabulator Widget",
                            "name": "main_window",
                            "width": 500,
                            "height": 500
                        }' class="input-box"></textarea>
                        </div>
                    </div>

                    <!-- Send Button -->
                    <div class="row">
                        <div class="col-md-12">
                            <md-button class="md-raised send_btn" style="color:#ffffff;background-color: #E21F28;">Send</md-button>

                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top: 50px;">
                    <div class="col-md-12">
                        <label class="label">Response</label><br>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <textarea style="width: 935px;height:476px; margin-left: 20px;" placeholder='{
                            "data": [{
                              "type": "articles",
                              "id": "1",
                              "attributes": {
                                "title": "JSON:API paints my bikeshed!",
                                "body": "The shortest article. Ever.",
                                "created": "2015-05-22T14:56:29.000Z",
                                "updated": "2015-05-22T14:56:28.000Z"
                              },
                              "relationships": {
                                "author": {
                                  "data": {"id": "42", "type": "people"}
                                }
                              }
                            }' class="input-box"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Get Started Div -->
        <div class="col-md-9 adjust" id="getStarted">
            <div class="row">
                <div class="col-md-12" style="padding: 0;margin-left: 15px;">
                    <img src="images/getstarted.jpg" style=" float:right;width:100%; height: 246px;">
                </div>
            </div>
            <div class="row" style="padding-top: 100px;">
                <div class="col-md-12">
                    <p class="what-is-eloquest">What is Eloquest ?</p><br>
                    <p class="desc_text">Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa. Vestibulum sed metus in lorem tristique ullamcorper id vitae erat. Nulla mollis sapien
                        sollicitudin lacinia lacinia. Vivamus facilisis dolor et massa placerat, at vestibulum nisl egestas. Nullam rhoncus lacus non odio luctus, eu condimentum mauris ultrices. Praesent blandit, augue a posuere aliquam, arcu tortor feugiat
                        turpis, quis lacinia augue sapien at tellus. Cras ut erat magna. Morbi nibh ante, condimentum vestibulum tempus a, tristique et velit. Sed semper aliquet ante. Quisque tempus arcu sapien, id convallis turpis dictum quis. Nunc commodo
                        vitae risus sit amet sollicitudin. Sed id facilisis sem.</p>

                </div>
            </div>
            <div class="row" style="padding-top: 83px;">
                <div class="col-md-3">
                    <img class="dbimages" src="images/noun_database_1.png">
                    <p class="sub-headings">Modify Data Points</p>
                </div>
                <div class="col-md-3">
                    <img class="dbimages" src="images/noun_database_2.png">
                    <p class="sub-headings">Manual Refresh Data Set</p>
                </div>
                <div class="col-md-3">
                    <img class="dbimages" src="images/noun_database_3.png">
                    <p class="sub-headings">Add New Record</p>
                </div>
                <div class="col-md-3">
                    <img class="dbimages" src="images/noun_database_4.png">
                    <p class="sub-headings">Search Database</p>
                </div>
            </div>
            <div class="row" style="padding-top: 100px;">
                <div class="col-md-12">
                    <p class="what-is-eloquest">How to Use ?</p><br>
                    <p class="desc_text">Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa. Vestibulum sed metus in lorem tristique ullamcorper id vitae erat. Nulla mollis sapien
                        sollicitudin lacinia lacinia. Vivamus facilisis dolor et massa placerat, at vestibulum nisl egestas. Nullam rhoncus lacus non odio luctus, eu condimentum mauris ultrices. Praesent blandit, augue a posuere aliquam, arcu tortor feugiat
                        turpis, quis lacinia augue sapien at tellus. Cras ut erat magna. Morbi nibh ante, condimentum vestibulum tempus a, tristique et velit. Sed semper aliquet ante. Quisque tempus arcu sapien, id convallis turpis dictum quis. Nunc commodo
                        vitae risus sit amet sollicitudin. Sed id facilisis sem.</p>


                </div>
            </div>
        </div>
    </div>
</div>